<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Hands-on Lab: Complete the EDA with SQL</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.4
!pip install ipython-sql
!pip install pandas

Collecting sqlalchemy==1.4
  Downloading SQLAlchemy-1.4.0.tar.gz (7.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.4/7.4 MB 2.4 MB/s eta 0:00:000:00:01
  Preparing metadata (setup.py) ... one
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.12/site-packages (from sqlalchemy==1.4) (3.1.1)
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.pdone
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.4.0-cp312-cp312-linux_x86_64.whl size=1447176 sha256=c5a984bf6ab5bc9b7c771c9768b1a4409c6bff4a1be7da62f61a4eca689ded70
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/a6/b1/f8/f3401c8d8cde72a608b1399e8e0277aa542a70efd4defe44a5
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.37
    Uninstalling SQLAlchemy-2.0.37:
      Successfully uninstalled SQLAlchemy-2.0.37
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
jupyterhub 5.2.1 requires SQLAlchemy>=1.4.1, but you have sqlalchemy 1.4.0 which is incompatible.
Successfully installed sqlalchemy-1.4.0
Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Collecting prettytable (from ipython-sql)
  Downloading prettytable-3.16.0-py3-none-any.whl.metadata (33 kB)
Requirement already satisfied: ipython in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (8.31.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Downloading sqlalchemy-2.0.43-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (9.6 kB)
Collecting sqlparse (from ipython-sql)
  Downloading sqlparse-0.5.3-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: six in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in /opt/conda/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/conda/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: decorator in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (3.0.50)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (2.19.1)
Requirement already satisfied: stack_data in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.12/site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /opt/conda/lib/python3.12/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.12/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql) (2.1.0)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure_eval in /opt/conda/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql) (0.2.3)
Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Downloading sqlalchemy-2.0.43-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.3/3.3 MB 97.4 MB/s eta 0:00:00
Downloading prettytable-3.16.0-py3-none-any.whl (33 kB)
Downloading sqlparse-0.5.3-py3-none-any.whl (44 kB)
Installing collected packages: sqlparse, sqlalchemy, prettytable, ipython-sql
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.0
    Uninstalling SQLAlchemy-1.4.0:
      Successfully uninstalled SQLAlchemy-1.4.0
Successfully installed ipython-sql-0.5.0 prettytable-3.16.0 sqlalchemy-2.0.43 sqlparse-0.5.3
Collecting pandas
  Downloading pandas-2.3.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (91 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.3.3-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (62 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.12/site-packages (from pandas) (2024.2)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.0/12.0 MB 145.6 MB/s eta 0:00:00
Downloading numpy-2.3.3-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl (16.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.6/16.6 MB 65.7 MB/s eta 0:00:00:00:01
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: tzdata, numpy, pandas
Successfully installed numpy-2.3.3 pandas-2.3.2 tzdata-2025.2

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [42]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [43]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [44]:
%sql sqlite:///my_data1.db

In [45]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")
df.columns

Index(['Date', 'Time (UTC)', 'Booster_Version', 'Launch_Site', 'Payload',
       'PAYLOAD_MASS__KG_', 'Orbit', 'Customer', 'Mission_Outcome',
       'Landing_Outcome'],
      dtype='object')

In [46]:
#the next two lines are to configure the sql magic extension
%config SqlMagic.style = 'plain'
%config SqlMagic.autopandas = True

#Let us take a look at the overall table
#Create a query string
query = "SELECT * FROM SPACEXTBL LIMIT 5;"
# Now execute the SQL query using the cursor object (cur) from your SQLite connection.
#This sends the query to the database engine but doesn’t return results yet.
cur.execute(query)
#Fetch all rows returned by the query and stores them in the list items.
#Each row is returned as a tuple (e.g., ('Falcon 9', 'CCAFS LC-40', 2280, ...)).
items = cur.fetchall()
#Loop through the fetched results and print in new lines
for i in items:
    print(f"{i}\n")

('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)')

('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)')

('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt')

('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')

('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')

**Note:This below code is added to remove blank rows from table**

In [47]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
(sqlite3.OperationalError) table SPACEXTABLE already exists
[SQL: create table SPACEXTABLE as select * from SPACEXTBL where Date is not null]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"** . 

   

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [48]:
# the equivalent sql command is given below. I am using python since %sql did not work
# %sql SELECT DISTINCT "LaunchSite" FROM SPACEXTABLE;


query = """
    SELECT DISTINCT launch_site
    FROM SPACEXTABLE
    """

cur.execute(query)
items = cur.fetchall()

for i in items:
    print(i)

('CCAFS LC-40',)
('VAFB SLC-4E',)
('KSC LC-39A',)
('CCAFS SLC-40',)

In [51]:
query = "PRAGMA table_info(SPACEXTABLE);"
cur.execute(query)
columns = cur.fetchall()
for col in columns:
    print(col)

(0, 'Date', 'TEXT', 0, None, 0)
(1, 'Time (UTC)', 'TEXT', 0, None, 0)
(2, 'Booster_Version', 'TEXT', 0, None, 0)
(3, 'Launch_Site', 'TEXT', 0, None, 0)
(4, 'Payload', 'TEXT', 0, None, 0)
(5, 'PAYLOAD_MASS__KG_', 'INT', 0, None, 0)
(6, 'Orbit', 'TEXT', 0, None, 0)
(7, 'Customer', 'TEXT', 0, None, 0)
(8, 'Mission_Outcome', 'TEXT', 0, None, 0)
(9, 'Landing_Outcome', 'TEXT', 0, None, 0)


### Task 2


#####  Display 5 records where launch sites begin with the string 'KSC'

In [97]:
query = """
    SELECT *
    FROM SPACEXTABLE
    WHERE "Launch_Site" LIKE 'KSC%'
    LIMIT 5
    """

cur.execute(query)
items = cur.fetchall()

for i in items:
    print(f"{i}\n")

    print("-"*50)

#How many distinct launch sites exist?



print("How many distinct launch sites exist?")
query = """
SELECT  distinct "Launch_Site"
FROM SPACEXTABLE
"""


cur.execute(query)
ls = cur.fetchall()
# Print each distinct customer
for l in ls:
    print(f"Launch Site: {l}")
print("-"*50)

('2017-02-19', '14:39:00', 'F9 FT B1031.1', 'KSC LC-39A', 'SpaceX CRS-10', 2490, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Success (ground pad)')

--------------------------------------------------
('2017-03-16', '6:00:00', 'F9 FT B1030', 'KSC LC-39A', 'EchoStar 23', 5600, 'GTO', 'EchoStar', 'Success', 'No attempt')

--------------------------------------------------
('2017-03-30', '22:27:00', 'F9 FT  B1021.2', 'KSC LC-39A', 'SES-10', 5300, 'GTO', 'SES', 'Success', 'Success (drone ship)')

--------------------------------------------------
('2017-05-01', '11:15:00', 'F9 FT B1032.1', 'KSC LC-39A', 'NROL-76', 5300, 'LEO', 'NRO', 'Success', 'Success (ground pad)')

--------------------------------------------------
('2017-05-15', '23:21:00', 'F9 FT B1034', 'KSC LC-39A', 'Inmarsat-5 F4', 6070, 'GTO', 'Inmarsat', 'Success', 'No attempt')

--------------------------------------------------
How many distinct launch sites exist?
Launch Site: ('CCAFS LC-40',)
Launch Site: ('VAFB SLC-4E',)
Launch Site: ('KSC LC-39A',)
Launch Site: ('CCAFS SLC-40',)
--------------------------------------------------

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [77]:
# Let us review the column names again
print("Let us review the column names again")
query = "PRAGMA table_info(SPACEXTABLE);"
cur.execute(query)
for col in cur.fetchall():
    print(col)

print("-"*50)

#How many distinct customers exist?

print("How many distinct customers exist?")
query = """
SELECT DISTINCT "Customer"
FROM SPACEXTABLE
"""
cur.execute(query)
customers = cur.fetchall()
# Print each distinct customer
for c in customers:
    print(c)
print("-"*50)

# Now let us focus on the NASA (CRS) lines only and sum the payloads
print("Now let us focus on the NASA (CRS) lines only and sum the payloads")
query = """
SELECT SUM("PAYLOAD_MASS__KG_") AS TotalPayloadMass
FROM SPACEXTABLE
WHERE "Customer" LIKE '%NASA (CRS)%'
"""
cur.execute(query)
result = cur.fetchone()
print(f"Total Payload Mass for NASA CRS missions: {result[0]} kg")

Let us review the column names again
(0, 'Date', 'TEXT', 0, None, 0)
(1, 'Time (UTC)', 'TEXT', 0, None, 0)
(2, 'Booster_Version', 'TEXT', 0, None, 0)
(3, 'Launch_Site', 'TEXT', 0, None, 0)
(4, 'Payload', 'TEXT', 0, None, 0)
(5, 'PAYLOAD_MASS__KG_', 'INT', 0, None, 0)
(6, 'Orbit', 'TEXT', 0, None, 0)
(7, 'Customer', 'TEXT', 0, None, 0)
(8, 'Mission_Outcome', 'TEXT', 0, None, 0)
(9, 'Landing_Outcome', 'TEXT', 0, None, 0)
--------------------------------------------------
How many distinct customers exist?
('SpaceX',)
('NASA (COTS) NRO',)
('NASA (COTS)',)
('NASA (CRS)',)
('MDA',)
('SES',)
('Thaicom',)
('Orbcomm',)
('AsiaSat',)
('U.S. Air Force NASA NOAA',)
('ABS Eutelsat',)
('Turkmenistan National Space Agency',)
('NASA (LSP) NOAA CNES',)
('SKY Perfect JSAT Group',)
('Iridium Communications',)
('EchoStar',)
('NRO',)
('Inmarsat',)
('Bulsatcom',)
('Intelsat',)
('NSPO',)
('U.S. Air Force',)
('SES EchoStar',)
('KT Corporation',)
('Northrop Grumman',)
('Hisdesat exactEarth SpaceX',)
('Hispasat  NovaWurks',)
('NASA (LSP)',)
('Thales-Alenia/BTRC',)
('Iridium Communications GFZ ‚ NASA',)
('Telesat',)
('Telkom Indonesia',)
('CONAE',)
('Es hailSat',)
('Spaceflight Industries',)
('USAF',)
('PSN, SpaceIL / IAI',)
('NASA (CCD) ',)
('Canadian Space Agency (CSA)',)
('Spacecom',)
('NASA (CRS), Kacific 1',)
('Sky Perfect JSAT, Kacific 1',)
('NASA (CTS)',)
('NASA (CCDev)',)
('SpaceX, Planet Labs',)
('U.S. Space Force',)
('Republic of Korea Army, Spaceflight Industries (BlackSky)',)
('SpaceX, Spaceflight Industries (BlackSky), Planet Labs',)
('SpaceX, Planet Labs, PlanetIQ',)
('CONAE, PlanetIQ, SpaceX',)
('USSF',)
('NASA (CCP)',)
('NASA / NOAA / ESA / EUMETSAT',)
--------------------------------------------------
Now let us focus on the NASA (CRS) lines only and sum the payloads
Total Payload Mass for NASA CRS missions: 48213 kg

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [79]:
query = """
SELECT AVG("PAYLOAD_MASS__KG_") AS AveragePayloadMass
FROM SPACEXTABLE
WHERE "Booster_Version" = 'F9 v1.1'
"""
cur.execute(query)
result = cur.fetchone()
print(f"Average Payload Mass for F9 v1.1: {result[0]} kg")

Average Payload Mass for F9 v1.1: 2928.4 kg

### Task 5

##### List the date where the succesful landing outcome in drone ship was acheived.


_Hint:Use min function_

In [82]:
query = """
SELECT "Date"
FROM SPACEXTABLE
WHERE "Landing_Outcome" LIKE  '%Success (drone ship)%'
"""
cur.execute(query)
dates = cur.fetchall()

# Print each matching date
for d in dates:
    print(d[0])

2016-04-08
2016-05-06
2016-05-27
2016-08-14
2017-01-14
2017-03-30
2017-06-23
2017-06-25
2017-08-24
2017-10-09
2017-10-11
2017-10-30
2018-04-18
2018-05-11

### Task 6

##### List the names of the boosters which have success in ground pad  and have payload mass greater than 4000 but less than 6000

In [83]:
query = """
SELECT DISTINCT "Booster_Version"
FROM SPACEXTABLE
WHERE "Landing_Outcome" LIKE '%Success (ground pad)%'
  AND "PAYLOAD_MASS__KG_" > 4000
  AND "PAYLOAD_MASS__KG_" < 6000
"""
cur.execute(query)
boosters = cur.fetchall()

# Print each matching booster version
for b in boosters:
    print(b[0])

F9 FT B1032.1
F9 B4 B1040.1
F9 B4 B1043.1

### Task 7




##### List the total number of successful and failure mission outcomes

In [84]:
query = """
SELECT "Mission_Outcome", COUNT(*) AS OutcomeCount
FROM SPACEXTABLE
GROUP BY "Mission_Outcome"
"""
cur.execute(query)
outcomes = cur.fetchall()

# Print each outcome and its count
for outcome in outcomes:
    print(f"{outcome[0]}: {outcome[1]}")

Failure (in flight): 1
Success: 98
Success : 1
Success (payload status unclear): 1

### Task 8



##### List all the booster_versions that have carried the maximum payload mass. Use a subquery.

In [86]:
query = """
SELECT DISTINCT "Booster_Version", "PAYLOAD_MASS__KG_"
FROM SPACEXTABLE
WHERE "PAYLOAD_MASS__KG_" = (
    SELECT MAX("PAYLOAD_MASS__KG_")
    FROM SPACEXTABLE
)
"""
cur.execute(query)
results = cur.fetchall()

# Print each booster version with its payload mass
for booster, payload in results:
    print(f"Booster Version: {booster}, Payload Mass: {payload} kg")

Booster Version: F9 B5 B1048.4, Payload Mass: 15600 kg
Booster Version: F9 B5 B1049.4, Payload Mass: 15600 kg
Booster Version: F9 B5 B1051.3, Payload Mass: 15600 kg
Booster Version: F9 B5 B1056.4, Payload Mass: 15600 kg
Booster Version: F9 B5 B1048.5, Payload Mass: 15600 kg
Booster Version: F9 B5 B1051.4, Payload Mass: 15600 kg
Booster Version: F9 B5 B1049.5, Payload Mass: 15600 kg
Booster Version: F9 B5 B1060.2 , Payload Mass: 15600 kg
Booster Version: F9 B5 B1058.3 , Payload Mass: 15600 kg
Booster Version: F9 B5 B1051.6, Payload Mass: 15600 kg
Booster Version: F9 B5 B1060.3, Payload Mass: 15600 kg
Booster Version: F9 B5 B1049.7 , Payload Mass: 15600 kg

### Task 9


##### List the records which will display the month names, succesful landing_outcomes in ground pad ,booster versions, launch_site for the months in year 2017
**Note: SQLLite does not support monthnames. So you need to use substr(Date,6,2) for month, substr(Date,9,2) for date, substr(Date,0,5),='2017' for year.**

In [87]:
query = """
SELECT 
    substr("Date", 6, 2) AS Month,
    "Landing_Outcome",
    "Booster_Version",
    "LaunchSite"
FROM SPACEXTABLE
WHERE "Landing_Outcome" LIKE '%Success (ground pad)%'
  AND substr("Date", 1, 4) = '2017'
"""
cur.execute(query)
records = cur.fetchall()

# Print each matching record
for r in records:
    print(f"Month: {r[0]}, Landing Outcome: {r[1]}, Booster Version: {r[2]}, Launch Site: {r[3]}")

Month: 02, Landing Outcome: Success (ground pad), Booster Version: F9 FT B1031.1, Launch Site: LaunchSite
Month: 05, Landing Outcome: Success (ground pad), Booster Version: F9 FT B1032.1, Launch Site: LaunchSite
Month: 06, Landing Outcome: Success (ground pad), Booster Version: F9 FT B1035.1, Launch Site: LaunchSite
Month: 08, Landing Outcome: Success (ground pad), Booster Version: F9 B4 B1039.1, Launch Site: LaunchSite
Month: 09, Landing Outcome: Success (ground pad), Booster Version: F9 B4 B1040.1, Launch Site: LaunchSite
Month: 12, Landing Outcome: Success (ground pad), Booster Version: F9 FT  B1035.2, Launch Site: LaunchSite

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [88]:
query = """
SELECT "Landing_Outcome", COUNT(*) AS OutcomeCount
FROM SPACEXTABLE
WHERE "Date" BETWEEN '2010-06-04' AND '2017-03-20'
GROUP BY "Landing_Outcome"
ORDER BY OutcomeCount DESC
"""
cur.execute(query)
results = cur.fetchall()

# Print each landing outcome with its count
for outcome, count in results:
    print(f"{outcome}: {count}")

No attempt: 10
Success (drone ship): 5
Failure (drone ship): 5
Success (ground pad): 3
Controlled (ocean): 3
Uncontrolled (ocean): 2
Failure (parachute): 2
Precluded (drone ship): 1

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%203/LAB-String_Patterns_Sorting_Grouping.md.html">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

<!--## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
--!>

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>